<eg-staff-banner bannerText="ILL Management" i18n-bannerText></eg-staff-banner>

<div class="row">
  <div class="col-lg-9"></div>
  <div class="col-lg-3">
    <div class="input-group">
      <label class="input-group-text" i18n for="jumpLinkSelect">Jump to page:</label>
      <select class="form-control" id="jumpLinkSelect" [(ngModel)]="jumpLink" >
        <option value="" i18n>Select page</option>
        <option value="singlescan" i18n>Single Scan</option>
        <optgroup i18n-label label="Pending Requests">
            <option value="pending/borrower" i18n>By My Patrons</option>
            <option value="pending/lender" i18n>From Other Libraries</option>
        </optgroup>
        <optgroup i18n-label label="Incoming Transits">
            <option value="incoming/borrower" i18n>For My Patrons Requests</option>
            <option value="incoming/lender" i18n>Returning From Other Libraries</option>
        </optgroup>
        <optgroup i18n-label label="Outgoing Transits">
            <option value="outgoing/borrower" i18n>Returns to Other Libraries</option>
            <option value="outgoing/lender" i18n>ILLs For Other Libraries</option>
        </optgroup>
        <optgroup i18n-label label="On Shelf">
            <option value="onshelf/borrower" i18n>For My Patrons</option>
            <option value="onshelf/lender" i18n>At Other Libraries</option>
        </optgroup>
        <optgroup i18n-label label="Currently Circulating">
            <option value="circulating/borrower" i18n>To My Patrons</option>
            <option value="circulating/lender" i18n>At Other Libraries</option>
        </optgroup>
      </select>
      <button type="button" class="btn btn-outline-dark"
        (keydown.enter)="activateJumpLink()" [disabled]="!jumpLink"
        (click)="activateJumpLink()" i18n>Go!</button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-8"></div>
  <div class="col-lg-2 justify-content-end d-flex">
    <a role="link" class="nav-link" target="_blank" href="/eg/opac" i18n>Search the catalog</a>
  </div>
  <div class="col-lg-2 justify-content-end d-flex">
    <a role="link" class="nav-link" target="_blank" href="/fulfillment-ill-documentation.pdf" i18n>Help with ILL Management</a>
  </div>
</div>

<div id="ill-grid-row" class="row show-nav"
  role="region" aria-label="ILL Management" i18n-aria-label>

  <nav id="ill-nav-col" class="col-lg-2" aria-label="ILL Management Actions" i18n-aria-label>
    <!-- Just hide this, not needed
    <button type="button" (click)="toggleNavPane()"
      class="nav-link btn btn-sm svg-icon-button ill-nav-toggle"
      [title]="showNav ? 'Hide Navigation' : 'Show Navigation'" i18n-title
      [attr.aria-label]="showNav ? 'Hide Navigation' : 'Show Navigation'" i18n-aria-label>
      <span class="mat-icon-in-button" aria-hidden="true">
        <ng-container *ngIf="showNav">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" height="24" viewBox="0 -960 960 960" width="24">
            <path d="M500-640v320l160-160-160-160ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm120-80v-560H200v560h120Zm80 0h360v-560H400v560Zm-80 0H200h120Z"/>
          </svg>
        </ng-container>
        <ng-container *ngIf="!showNav">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" height="24" viewBox="0 -960 960 960" width="24">
            <path d="M660-320v-320L500-480l160 160ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm120-80v-560H200v560h120Zm80 0h360v-560H400v560Zm-80 0H200h120Z"/>
          </svg>
        </ng-container>
      </span>
    </button>
    -->

    <ul ngbNav #illNav="ngbNav" class="nav-tabs flex-column"
      orientation="vertical" [activeId]="activeTab" [keyboard]="false">

      <li ngbNavItem="singlescan">
        <a ngbNavLink routerLink="/staff/ill/singlescan" i18n>Single Scan</a>
        <ng-template ngbNavContent>
          <eg-title i18n-prefix i18n-suffix prefix="ILL Management" suffix="Single Scan"></eg-title>
          <ff-singlescan [contextOrg]="contextOrg" [barcode]="route_barcode"/>
        </ng-template>
      </li>

      <li ngbNavItem="pending">
        <a ngbNavLink class='nav-link' routerLink="/staff/ill/pending/{{ill_role}}" i18n>Pending Requests</a>
        <ng-template ngbNavContent>
          <eg-title i18n-prefix i18n-suffix prefix="ILL Management" suffix="Pending Requests"></eg-title>
          <ff-ill-requests [contextOrg]="contextOrg" [ill_role]="ill_role"/>
        </ng-template>
      </li>

      <li ngbNavItem="incoming">
        <a ngbNavLink routerLink="/staff/ill/incoming/{{ill_role}}" i18n>Incoming Transits</a>
        <ng-template ngbNavContent>
          <eg-title i18n-prefix i18n-suffix prefix="ILL Management" suffix="Incoming Transits"></eg-title>
          <ff-transits [contextOrg]="contextOrg" direction="incoming" [ill_role]="ill_role"/>
        </ng-template>
      </li>

      <li ngbNavItem="outgoing">
        <a ngbNavLink routerLink="/staff/ill/outgoing/{{ill_role}}" i18n>Outgoing Transits</a>
        <ng-template ngbNavContent>
          <eg-title i18n-prefix i18n-suffix prefix="ILL Management" suffix="Outgoing Transits"></eg-title>
          <ff-transits [contextOrg]="contextOrg" direction="outgoing" [ill_role]="ill_role"/>
        </ng-template>
      </li>

      <li role="presentation" ngbNavItem="onshelf" class='nav-item'>
        <a ngbNavLink routerLink="/staff/ill/onshelf/{{ill_role}}" i18n>On Shelf</a>
        <ng-template ngbNavContent>
          <eg-title i18n-prefix i18n-suffix prefix="ILL Management" suffix="Pending Requests"></eg-title>
          <ff-ill-onshelf [contextOrg]="contextOrg" [ill_role]="ill_role"/>
        </ng-template>
      </li>

      <li ngbNavItem="circulating">
        <a ngbNavLink routerLink="/staff/ill/circulating/{{ill_role}}" i18n>Currently Circulating</a>
        <ng-template ngbNavContent>
          <eg-title i18n-prefix i18n-suffix prefix="ILL Management" suffix="Currently Circulating"></eg-title>
          <ff-ill-circulating [contextOrg]="contextOrg" [ill_role]="ill_role"/>
        </ng-template>
      </li>

    </ul>
  </nav>  


  <div id="ill-tabs-col" class="col-lg-10">
    <div [ngbNavOutlet]="illNav"></div>
  </div>
  
</div> <!-- #ill-grid -->
