<ff-disallow-item #disallowDialog/>

<ul ngbNav #holdsNav="ngbNav" class="nav-tabs" [activeId]="ill_role" (navChange)="beforeTabChange($event)" [keyboard]="false">
  <li ngbNavItem="canceled">
    <a ngbNavLink (click)="navItemClick('canceled', $event)" i18n>Recently Canceled</a>
    <ng-template ngbNavContent>
      <eg-holds-grid pageSize="25" #canceledGrid
        persistKey="ff.ill.myrequests.canceled"
        [illMode]="true"
        [ill_role]="ill_role"
        [customActions]="canceledActions"
        [noLoadProgress]="true"
        [hideHoldsCount]="false"
        [showRecentlyCanceled]="true"
        recentlyCanceledFilterSetting="ff.pending.myrequests.showRecentlyCanceledDays"
        [enablePreFetch]="true"
        [hidePickupLibFilter]="true"
        [hidePullListLibFilter]="true"
        [initialPickupLib]="contextOrg"
        [defaultSort]="[{name:'cancel_time',dir:'desc'}, {name:'id',dir:'asc'}]"
        showFields="id,request_time,cancel_time,title,note_count"
      />
    </ng-template>
  </li>

  <li ngbNavItem="suspended">
    <a ngbNavLink (click)="navItemClick('suspended', $event)" i18n>Currently Suspended</a>
    <ng-template ngbNavContent>
      <eg-holds-grid pageSize="25" #suspendedGrid
        persistKey="ff.ill.myrequests.suspended"
        [illMode]="true"
        [ill_role]="ill_role"
        [customActions]="frozenActions"
        [hideILLActions]="true"
        [showDetailsAction]="true"
        [noLoadProgress]="true"
        [hideHoldsCount]="false"
        [showCaptureAction]="false"
        [enablePreFetch]="true"
        [frozenFilter]="true"
        [excludeCaptured]="true"
        [hidePickupLibFilter]="true"
        [hidePullListLibFilter]="true"
        [initialPickupLib]="contextOrg"
        [defaultSort]="[{name:'request_time',dir:'asc'}, {name:'id',dir:'asc'}]"
        showFields="id,request_time,frozen,pl_shortname,current_item,title,note_count"
      />
    </ng-template>
  </li>

  <li ngbNavItem="overdue">
    <a ngbNavLink (click)="navItemClick('overdue', $event)" i18n>Long Unfilled</a>
    <ng-template ngbNavContent>
      <eg-holds-grid pageSize="25" #overdueGrid
        persistKey="ff.ill.myrequests.overdue"
        [illMode]="true"
        [ill_role]="ill_role"
        [showCaptureAction]="false"
        [customActions]="overdueActions"
        [noLoadProgress]="true"
        [hideHoldsCount]="false"
        [enablePreFetch]="true"
        overdueFilterSetting="ff.pending.myrequests.overdueDays"
        [excludeCaptured]="true"
        [hidePickupLibFilter]="true"
        [hidePullListLibFilter]="true"
        [initialPickupLib]="contextOrg"
        [defaultSort]="[{name:'request_time',dir:'asc'}, {name:'id',dir:'asc'}]"
        showFields="id,request_time,current_item,title,note_count"
      />
    </ng-template>
  </li>
</ul>

<ng-container>
  <div [ngbNavOutlet]="holdsNav"></div>
</ng-container>
