<ng-template #itemBarcodeTmpl  let-row="row">
  <a routerLink="/staff/ill/singlescan/{{row.target_copy().barcode()}}">
    {{row.target_copy().barcode()}}
  </a>
</ng-template>

<ng-template #copyLibTmpl  let-row="row">
  <span>{{row.target_copy().circ_lib().shortname()}}</span>
</ng-template>

<ng-template #routingCodeTmpl  let-row="row">
  <span>{{row.dest().routing_code()}}</span>
</ng-template>

<ng-template #titleTmpl  let-row="row">
  <a href="/eg/opac/record/{{row.target_copy().call_number().record().id()}}" target="_blank">
    {{row.target_copy().call_number().record().wide_display_entry().title()}}
  </a>
</ng-template>

<ul ngbNav #transitNav="ngbNav" class="nav-tabs" [activeId]="ill_role" [keyboard]="false" (navChange)="beforeTabChange($event)">

  <li ngbNavItem="borrower">
    <a ngbNavLink (click)="navItemClick('borrower', $event)">{{linkLabels.borrower}}</a>
    <ng-template ngbNavContent>
      <eg-admin-page idlClass="atc" pageSize="25"
        persistKey="ff.ill.{{direction}}_transit.borrower"
        sortField="source_send_time"
        fieldOrder="routing_code,barcode,title,source_send_time,source,dest"
        hideGridFields="id,target_copy,cancel_time,dest_recv_time,prev_hop,copy_status,persistant_transfer,prev_dest"
        [disableOrgFilter]="true"
        [disableDelete]="true"
        [disableEdit]="true"
        [disableCreate]="true"
        [customActions]="customActions.borrower"
        [hideApplyTranslations]="true"
        [defaultDatePlusTime]="true"
        [baseFilter]="liveFilters.borrower"
        [baseFlesh]="{depth: 4, fields:{atc:['target_copy','source','dest'],acp:['call_number','circ_lib'],acn:['record'],bre:['wide_display_entry']}, select: {bre : ['id']}}"
        [templateFields]="[{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'routing_code', label: 'Routing Code', template: routingCodeTmpl},{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'barcode', label: 'Item Barcode', template: itemBarcodeTmpl},{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'copy_lib', label: 'Copy Library', template: copyLibTmpl},{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'title', label: 'Title', template: titleTmpl}]"
      />
    </ng-template>
  </li>

  <li ngbNavItem="lender">
    <a ngbNavLink (click)="navItemClick('lender', $event)">{{linkLabels.lender}}</a>
    <ng-template ngbNavContent>
      <eg-admin-page idlClass="atc" pageSize="25"
        persistKey="ff.ill.{{direction}}_transit.lender"
        sortField="source_send_time"
        fieldOrder="routing_code,barcode,title,source_send_time,source,dest"
        hideGridFields="id,target_copy,cancel_time,dest_recv_time,prev_hop,copy_status,persistant_transfer,prev_dest"
        [disableOrgFilter]="true"
        [disableDelete]="true"
        [disableEdit]="true"
        [disableCreate]="true"
        [customActions]="customActions.lender"
        [hideApplyTranslations]="true"
        [defaultDatePlusTime]="true"
        [baseFilter]="liveFilters.lender"
        [baseFlesh]="{depth: 4, fields:{atc:['target_copy','source','dest'],acp:['call_number','circ_lib'],acn:['record'],bre:['wide_display_entry']}, select: {bre : ['id']}}"
        [templateFields]="[{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'routing_code', label: 'Routing Code', template: routingCodeTmpl},{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'barcode', label: 'Item Barcode', template: itemBarcodeTmpl},{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'copy_lib', label: 'Copy Library', template: copyLibTmpl},{notFilterable: true, notSortable: true, notMultiSortable: true, name: 'title', label: 'Title', template: titleTmpl}]"
      />
    </ng-template>
  </li>
</ul>

<ng-container>
  <div [ngbNavOutlet]="transitNav"></div>
</ng-container>
