<div class="container-fluid text-center">
  <div class="alert alert-info alert-less-pad strong-text-2">
    <span>[% l('About Evergreen') %]</span>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">[% l('Server Details') %]</div>
      <div class="panel-body">
        <div class="row pad-vert nav-pills-like-tabs">
          <div class="col-md-6">[% l('Evergreen Version') %]</div>
          <div class="col-md-6">{{context.version}}</div>
        </div>
        <div class="row pad-vert">
          <div class="col-md-6">[% l('Hostname') %]</div>
          <div class="col-md-6">{{context.server}}</div>
        </div>
      </div>
    </div><!--panel-->
   </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>[% l('What is Evergreen?') %]</h2>
    <p>[% |l %]Fulfillment is an open source interlibrary loan management system
        which leverages intuitive design and efficient workflows to maximize value
        and impact for library users. Fulfillment allows community members to have
        expanded access to resources across their state and outside their
        consortium.Fulfillment is an open source interlibrary loan management system
        which leverages intuitive design and efficient workflows to maximize value
        and impact for library users. Fulfillment allows community members to have
        expanded access to resources across their state and outside their
        consortium.[% END %]
    </p>
    <p>[% |l(
    '<a target="_blank" href="https://www.equinoxoli.org/products/fulfillment/">https://www.equinoxoli.org/products/fulfillment/</a>',
    '<a target="_blank" href="/fulfillment-ill-documentation.pdf">fulfillment-ill-documentation.pdf</a>') 
     %]More information can be found at [_1]. For help in using Fulfillment, 
       see our documentation at [_2].[% END %]
    </p>
    <p>[% |l(
      '<a href="https://gnu.org/licenses/gpl-3.0.html">',
      '</a>')
      %] Fulfillment is Copyright &#0169; Equinox Open Library Initiative Inc., and others. The
      Fulfillment software is distributed under the
      [_1] GNU General Public License, Version 3 or later.  [_2]
      [% END %]
    </p>
  </div>
</div>




