<eg-staff-banner bannerText="About Fulfillment" i18n-bannerText>
</eg-staff-banner>

<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header" i18n>Server Details</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row pt-2">
            <div class="col-lg-6" i18n>Fulfillment Version</div>
            <div class="col-lg-6">{{version}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row pt-2">
            <div class="col-lg-6" i18n>Hostname</div>
            <div class="col-lg-6">{{server}}</div>
          </div>
        </li>
      </ul>
    </div><!-- card -->
   </div>
</div>
<div class="row mt-4">
  <div class="col-lg-8">
    <h2 i18n>What is Fulfillment?</h2>
    <p i18n>Fulfillment is an open source interlibrary loan management system
        which leverages intuitive design and efficient workflows to maximize value
        and impact for library users. Fulfillment allows community members to have
        expanded access to resources across their state and outside their
        consortium.
    </p>
    <p i18n>
      More information can be found at 
      <a href="https://www.equinoxoli.org/products/fulfillment/">https://www.equinoxoli.org/products/fulfillment/</a>. 
      For help in using Fulfillment, see our documentation at 
      <a href="/fulfillment-ill-documentation.pdf">fulfillment-ill-documentation.pdf</a>.
    </p>
    <p i18n>
      Fulfillment is Copyright &#0169; Equinox Open Library Initiative Inc., and others.
      The Fulfillment software is distributed under the 
      <a href="https://gnu.org/licenses/gpl-3.0.html">GNU General Public License, Version 3 or later.</a>
    </p>
  </div>
</div>




